<p>An error occured in the following component:</p>
<p><strong><%= component %></strong></p>
<p style="white-space: pre-wrap; font-family: Monospace; font-size: 0.8rem;">
    type: <%= type %>
</p>
<p style="white-space: pre-wrap; font-family: Monospace; font-size: 0.8rem;">
    message:
    <%= message %>
</p>
<p style="white-space: pre-wrap; font-family: Monospace; font-size: 0.8rem;">
    backtrace:
    <%= backtrace %>
</p>

<p style="white-space: pre-wrap; font-family: Monospace; font-size: 0.8rem;">
    context:
    <%= context %>
</p>
